@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	color: #666666;
	line-height: 16px;
	font-size: 14px;
	background: #f2f2f2 url(../images/bg.gif) repeat-x left top;
	/* height: 2000PX; */
	/* font-family:microsoft yahei; */
}

#container {
	width: 1200px;
	margin: 0 auto;
}

#header {
	width: 1182px;
	height: 200px;
	margin: 0 10px 0px 10px;
	background: orange;
	float: left;
	/* position: fixed; 设置固定不动*/
}

#header #div1 {
	color: #888888;
	text-align: right;
	background: white;
	font-family: SimHei;
}

#header img {
	width: 1182px;
	height: 140px;
}
/*菜单功能头*/
em {
	font-style: normal;
}

a img,:link img,:visited img {
	border: 0;
}

a:link,a:visited {
	text-decoration: none;
	color: #666666;
}

ul,ul li {
	list-style-type: none;
}

#top_bg {
	height: 40px;
	width: 100%;
	background: #333;
	box-shadow: 1px 1px 7px #999;
	z-index: 999;
	left: 0;
	border-bottom: #C6C6C6 solid 1px;
}

.top {
	width: 1180px;
	height: 40px;
	margin: 0 auto;
	font-family: Kaiti;
	font-size: 16px;
}

.top .logo_l {
	width: 145px;
	height: 40px;
	float: left;
	background: url(../images/menu_logo.gif) no-repeat left;
}

.nav_z {
	width: auto !important;
	height: 40px;
	float: left;
	position: relative;
	z-index: 999;
}

.nav_z a:hover,a:focus {
	text-decoration: underline;
	color: #0573bd;
	text-decoration: none;
}

#navul li {
	float: left;
	width: 120px;
	height: 40px;
	position: relative;
	text-align: center;
	line-height: 40px;
}

#navul li a:link,#navul li a:visited {
	color: #FFF;
	font-weight: 500;
	letter-spacing: 2px;
}

#navul li ul {
	display: none;
	position: absolute;
	z-index: 999;
	background: #e6e6e6;
	border: #c6c6c6 1px solid;
	border-bottom: none;
	left: -1px;
}

#navul li ul li {
	display: block;
	width: 78px;
	float: none;
	height: 35px;
	position: relative;
	line-height: 35px;
	border-bottom: #C6C6C6 1px solid;
	font-size: 12px;
	overflow: hidden
}

#navul li.navmoon {
	background: #E6E6E6;
	border: #C6C6C6 1px solid;
	width: 78px;
	height: 38px;
	line-height: 38px;
}

#navul li.navmoon a {
	color: #404a58;
}

#navul li.navhome a:hover {
	color: #FCFF00;
}

#navul li.navmoon ul {
	display: block;
}

#navul li.navmoon ul a {
	font-size: 14px;
	display: block;
	width: 78px;
	height: 35px;
	line-height: 35px;
}

#navul li.navmoon ul a:hover {
	color: #0573bd;
	background: #FFF;
} /*菜单功能尾*/
#main_con {
	width: 1180px;
	margin: 0 10px 0 10px;
	clear: left;
	/* border: 1px solid gray; */
}

.zixunnumber {
	color: #141414;
	font-family: Microsoft yahei;
	font-size: 15px;
	margin: 5px 5px 0px 5px;
	height: 22px;
	padding-top: 5px;
	text-align: right;
	border-bottom: 1px solid gray;
}
/*3D幻灯片展示头*/
#main_con #threeD {
	width: 650px;
	height: 350px;
	margin: 10px;
	float: left;
	border: 1px solid #ccc;
}

#a1 {
	list-style: none; /*不显示序列号*/
	padding: 0;
	margin: 0 auto;
	width: 24em;
	height: 23em;
}

#a2 {
	height: 20em;
	width: 30em;
	text-align: center;
	cursor: pointer;
} /*3D幻灯片展示尾*/
#main_con #newside {
	width: 485px;
	height: 310px;
	margin: 10px;
	border: 1px solid #ccc;
	float: left;
	text-align: left;
	padding: 20px 0 20px 0;
}

#main_con a:hover,a:focus {
	text-decoration: underline; /*下划线*/
	color: blue;
}

#main_con #mid_area ul li,.rscon ul li {
	clear: both;
	padding: 5px;
}

#main_con #mid_area {
	clear: left;
	width: 1160px;
	height: 490px;
	margin: 0 10px 10px 10px;
	border: 1px solid orange;
}

#main_con #mid_area .pdd {
	float: left;
	width: 360px;
	height: 480px;
	margin: 0 5px 0px 0px;
	border: 1px solid red;
}

#main_con .title_bg { /*标题背景*/
	height: 15px;
	margin: 2px 2px 0 2px;
	background: #3e70bb;
	padding: 10px 0 10px 10px;
	color: white;
}
/*地图css头*/
#main_con #mid_area .pdd a:visited {
	color: red;
}

.iw_poi_title {
	color: #CC5522;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	padding-right: 13px;
	white-space: nowrap
}

.iw_poi_content {
	font: 12px arial, sans-serif;
	overflow: visible;
	padding-top: 4px;
	white-space: -moz-pre-wrap;
	word-wrap: break-word
} /*地图css尾*/
#main_con #mid_area .rside {
	float: left;
	width: 786px;
	height: 480px;
	margin: 0px 0px 0px 5px;
	border: 1px solid blue;
}

.rmcx { /*热门车型的表头(灰色)*/
	width: 260px;
	float: left;
	font-family: Kaiti;
	font-size: 21px;
	background: #adadad;
	text-align: center;
}

.rside .gdcx { /*更多车型*/
	float: right;
	margin-right: 15px;
}

.rside a:visited {
	color: orange;
}

.rside .price {
	color: red;
	font-size: 18px;
}

.interact { /*分隔线*/
	border-top: 1px solid gray;
	margin: 2px;
	text-align: center;
	clear: left;
}

.fabiao {
	width: 140px;
	height: 36px;
	line-height: 18px;
	font-size: 18px;
	background: url("../images/bg26.jpg") no-repeat left top;
	color: #FFF;
	padding-bottom: 4px;
}

#footer {
	width: 1200px;
	margin: 10px;
}
/*QQ客服代码部分*/
.qqserver .qqserver-header:after,.qqserver .qqserver-header:before,.qqserver li a:after,.qqserver li a:before
	{
	display: table;
	content: ' '
}

.qqserver .qqserver-header:after,.qqserver li a:after {
	clear: both
}

.qqserver .qqserver-header,.qqserver li a,.tabs,.user-main,.view-category,.view-category-list>li
	{
	*zoom: 1
}

.qqserver {
	position: fixed;
	top: 50%;
	right: 0;
	height: 209px;
	margin-top: -104px
}

.qqserver.unfold .qqserver-body {
	right: 0
}

.qqserver .qqserver-body {
	position: absolute;
	right: -144px;
	width: 122px;
	height: 183px;
	padding: 12px 10px;
	-webkit-transition: .3s cubic-bezier(.19, 1, .22, 1);
	-o-transition: .3s cubic-bezier(.19, 1, .22, 1);
	transition: .3s cubic-bezier(.19, 1, .22, 1);
	border: 1px solid #62b651;
	border-radius: 4px;
	background: #f4f7fa
}

.qqserver .qqserver_fold {
	position: absolute;
	right: 0;
	padding: 14px 7px;
	cursor: pointer;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background: #70ca5d
}

.qqserver .qqserver-header {
	padding-bottom: 10px;
	padding-left: 6px;
	border-bottom: 1px dashed #d1d4cc
}

.qqserver .qqserver-header * {
	float: left
}

.qqserver .qqserver_arrow {
	margin-top: -1px;
	margin-left: 7px;
	cursor: pointer
}

.qqserver li {
	margin-top: 6px
}

.qqserver li a {
	display: block;
	padding: 6px 12px 4px
}

.qqserver li a div {
	font-size: 14px;
	float: left;
	margin-right: 11px;
	color: #697466
}

.qqserver li a span {
	font-size: 12px;
	line-height: 18px;
	float: left;
	text-indent: 4px;
	color: #fff
}

.qqserver li a span.qqserver-service-alert {
	font-weight: 400;
	display: block
}

.qqserver li a:hover {
	text-decoration: none;
	border-radius: 4px;
	background: #eaebe9
}

.qqserver li a:hover div {
	color: #62b651
}

.qqserver .qqserver-footer {
	margin-top: 10px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 11px;
	border-top: 1px dashed #d1d4cc
}

.qqserver .qqserver-footer .text-primary {
	color: #70CA5D;
	font-size: 14px;
}

.qqserver .qqserver_icon-alert {
	display: inline-block;
	margin-right: 10px;
	vertical-align: -3px;
	*display: inline;
	*zoom: 1;
	*vertical-align: -1px
}

.qqserver-header div {
	width: 90px;
	height: 18px;
	background-image: url(../images/backgrounds.32.png);
	background-position: -419px -80px
}

.qqserver_icon-alert {
	width: 16px;
	height: 14px;
	background-image: url(../images/backgrounds.32.png);
	background-position: -595px -85px
}

.qqserver li a span {
	width: 30px;
	height: 23px;
	background-image: url(../images/backgrounds.32.png);
	background-position: -265px 0
}

.qqserver li a .qqserver-service-alert {
	width: 30px;
	height: 22px;
	background-image: url(../images/backgrounds.32.png);
	background-position: -342px 0
}

.qqserver_fold div {
	width: 26px;
	height: 132px;
	background-image: url(../images/backgrounds.32.png);
	background-position: 0 0
}

.qqserver_fold:hover div {
	width: 26px;
	height: 132px;
	background-image: url(../images/backgrounds.32.png);
	background-position: -27px 0
}

.qqserver_arrow {
	width: 18px;
	height: 18px;
	background-image: url(../images/backgrounds.32.png);
	background-position: -435px 0
}

.qqserver_arrow:hover {
	width: 18px;
	height: 18px;
	background-image: url(../images/backgrounds.32.png);
	background-position: -435px -38px
}
.qqserver *,{
	margin:0;padding:0;list-style:none;border:none;
}