@CHARSET "UTF-8";

* {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

#n {
	margin: 10px auto;
	width: 920px;
	border: 1px solid #CCC;
	font-size: 14px;
	line-height: 30px;
}

#n a {
	padding: 0 4px;
	color: #333
}

body {
	BACKGROUND-COLOR: #ffffff;
	MARGIN: 0px auto;
	COLOR: #000000;
	FONT-SIZE: 9pt
}