@CHARSET "UTF-8";
body {
	margin-left: 0px;
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 0px;
	border: 1px solid gray;
}

.container {
	width: 1140px;
	height: 513px;
	background:#cdba96;
	
}
.container .a1{
	width:800px;
	height:300px;
	margin:30px auto;
}